MONGODB_URI=mongodb://mongo:27017/pong-it
# Leave false unless debugging handshake headers
SOCKET_HEADER_LOGS=false
# PLAYER_SERVICE_URL=http://localhost:5001
# Uncomment to enable external player service; otherwise cache is used

# Celo Contract Configuration
# SIGNING_WALLET_PRIVATE_KEY=0x...  # Must match BACKEND_ORACLE_ADDRESS used at deploy
PONG_ESCROW_ADDRESS=0x359556B3716e22d399811A3cb6469613b5b1b208
CELO_RPC_URL=https://celo-sepolia.g.alchemy.com/v2/oA3aWf4dW3KozyXiBJ5TiZHnXtykfedo
CELO_CHAIN_ID=11142220
